.stf_user_details_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--SHADE);
  width: 35rem;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
}
.stf_user_name_email_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stf_user_detail {
  display: flex;
  gap: 1rem;
}
.stf_user_detail p {
  font-size: 1.8rem;
}
