@import url("https://starlingui.netlify.app/sui.css");
@import "./variables/variables.scss";

html[sui-mode="light"] {
  --GRAY: #d2d2d2;
  --BTNBG: #ffffffaa;
  --BTNBGHOVER: #ffffff;
}

html[sui-mode="dark"] {
  --PRIMARY: var(--PRIMARY-LIGHT2);
  --GRAY: #111111;
  --BTNBG: #0d0d0daa;
  --BTNBGHOVER: #0d0d0d;
}
body {
  background: $bg;
  color: $text;
  font-size: 1.6rem;
}
#root {
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main";
  grid-template-columns: 200px auto;
  grid-template-rows: 6rem auto;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 800px) {
  #root {
    grid-template-columns: 75px auto;
  }
}
@media only screen and (max-width: 600px) {
  #root {
    grid-template-columns: 55px auto;
  }
}
.stf_red {
  background: $red;
}
.stf_red_icon {
  color: $red;
}
.stf_green {
  background: $green;
}
.stf_green_icon {
  color: $green;
}
.stf_yellow {
  background: $yellow;
}
.stf_yellow_icon {
  color: $yellow;
}
.stf_orange {
  background: $orange;
}
.stf_orange_icon {
  color: $orange;
}
.stf_primary {
  background: $primarydark2;
}
.stf_primary_icon {
  color: $primarydark2;
}
.sui_card:hover {
  box-shadow: 0 0 4px 0 $text;
}
