@import "../../styles/variables/variables.scss";

.watch_later_page {
  grid-area: main;
  padding: 1rem 20px;

  .watchlater_wrapper {
    @include flex(2rem, null, center);
    flex-wrap: wrap;

    .stf_watch_later {
      @include flex(2rem, column);

      p {
        font-size: 1.8rem;
      }
    }
  }
}
