.playlist_page {
  grid-area: main;
  padding: 3rem 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.playlist_page .btn_playlist {
  background: var(--BG);
  border: 2px solid var(--PRIMARY-LIGHT1);
  color: var(--TEXT);
}

.playlist_page .selected_btn {
  background: var(--VARIANT-2-DARK1);
  border: 2px solid var(--VARIANT-2-DARK2);
  color: var(--BLACK);
}

.playlist_page .create_new_playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist_page .create_new_playlist svg {
  height: 2.2rem;
  width: 2.2rem;
}

.playlist_page .playlist_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 223px;
  min-width: 223px;
}

.playlist_page .playlist_content_wrapper {
  width: 100%;
}

.playlist_page .playlist_content_wrapper .playlist_video_listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playlist_page .playlist_empty {
  padding-top: 5rem;
}

.playlist_page .delete_empty_playlist {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 2rem;
  background: var(--VARIANT-1-DARK2);
  border: 2px solid var(--VARIANT-1-DARK2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist_page .delete_empty_playlist svg {
  height: 2.2rem;
  width: 2.2rem;
}

.playlist_page .playlist_video_listing_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playlist_page .playlist_video_listing_wrapper .playlist_video_listing_title_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playlist_page .playlist_video_listing_wrapper .playlist_video_listing_title_wrapper .playlist_video_listing_title {
  font-size: 2rem;
}

.playlist_page .playlist_video_listing_wrapper .playlist_video_listing_title_wrapper .remove_playlist {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--VARIANT-1-DARK2);
  border: 2px solid var(--VARIANT-1-DARK2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist_page .playlist_video_listing_wrapper .playlist_video_listing_title_wrapper .remove_playlist svg {
  height: 2.2rem;
  width: 2.2rem;
}

@media only screen and (max-width: 750px) {
  .playlist_page {
    grid-area: main;
    padding: 3rem 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .playlist_page .playlist_video_listing_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .playlist_page .playlist_video_listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=playlist.css.map */