@import "../../styles/variables/variables.scss";

.explore_page {
  grid-area: main;
  padding: 1rem 20px;
  overflow-y: auto;
  @include flex(2rem, column);
  position: relative;

  .explore_page_search_btn_wrapper {
    @include flex(5px, null, center);
    width: 95%;
    position: relative;
  }

  .explore_search_input {
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid gray;
    background: $shade;
    padding: 5px 1rem;
    outline: none;
  }

  .explore_page_search_btn {
    @include flex(null, null, center, center);
    position: absolute;
    text-decoration: none;
    right: 5px;
    top: 18px;
    height: fit-content;
    width: fit-content;

    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  .filter_chip_wrapper {
    @include flex(5px, null, center);
    flex-wrap: wrap;
    padding-top: 2rem;

    .filter_chip {
      border: 2px solid $primary;
      width: fit-content;
      padding: 5px 15px;
      border-radius: 999px;
      cursor: pointer;
    }
    .filter_chip:hover {
      border: 2px solid $primarylight1;
    }
  }
  .filter_chip_selected {
    background: $primary;
    color: $white;
  }
  .filter_videos_wrapper {
    @include flex(2rem, null, center);
    flex-wrap: wrap;
  }
}
