@import url("https://starlingui.netlify.app/sui.css");

html[sui-mode="dark"] {
  --PRIMARY: var(--PRIMARY-LIGHT2);
}
body {
  background: var(--BG);
  color: var(--TEXT);

  --RED: red;
  --GREEN: green;
  --GRAY: gray;
  --YELLOW: #ed9f3a;
  --ORANGE: #f45b19;
}
.stf_red {
  background: var(--RED);
}
.stf_red_icon {
  color: var(--RED);
}
.stf_green {
  background: var(--GREEN);
}
.stf_green_icon {
  color: var(--GREEN);
}
.stf_yellow {
  background: var(--YELLOW);
}
.stf_yellow_icon {
  color: var(--YELLOW);
}
.stf_orange {
  background: var(--ORANGE);
}
.stf_orange_icon {
  color: var(--ORANGE);
}
.stf_primary {
  background: var(--PRIMARY-DARK1);
}
.stf_primary_icon {
  color: var(--PRIMARY-DARK1);
}
.stf_secondary {
  background: var(--BLACK);
}
.stf_secondary_icon {
  color: var(--TEXT);
}
.sui_card:hover {
  box-shadow: 0 0 4px 0 var(--TEXT);
}
